exportPattern("^[[:alpha:]]+")
importFrom("utils", "install.packages")
importFrom("XML","xmlParse")
importFrom("XML","getNodeSet")
importFrom("parallel","detectCores")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","%dopar%")
importFrom("foreach","foreach")
importFrom("XML","xmlGetAttr")
importFrom("XML","xmlDoc")
importFrom("XML","xpathApply")
